# Python
__pycache__/
*.py[cod]
*$py.class

# Venv
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Database
*.db
*.sqlite3
